<?php

use Gpupo\CommonDevExtra\CsConfigurator;

$packageInfo = [
    'project' => 'gpupo/graphql-rest-wrap',
    'author' => 'Gilmar Pupo <contact@gpupo.com>',
    'url' => 'https://opensource.gpupo.com/',
];

return (new CsConfigurator(__DIR__))->getConfig($packageInfo);
